@using RecipyBotWeb.Constants;
<div>
    <ul class="getbot-icons">
        @if (SiteSettingsConstant.IsSkypeBotConfigured)
        {
            <li><a href='@SiteSettingsConstant.SkypeBotUrl' target="_blank"><i class="mdi mdi-skype mdi-24px" aria-hidden="true"></i></a></li>
        }
        @if (SiteSettingsConstant.IsFacebookBotConfigured)
        {
            <li><a href='@SiteSettingsConstant.FacebookBotUrl' target="_blank"><i class="mdi mdi-facebook-messenger mdi-24px" aria-hidden="true"></i></a></li>
        }
        @if (SiteSettingsConstant.IsSlackBotConfigured)
        {
            <li><a href="@SiteSettingsConstant.SlackBotUrl"><i class="mdi mdi-slack mdi-24px" aria-hidden="true"></i></a></li>
        }
        @if (SiteSettingsConstant.IsTelegramBotConfigured)
        {
            <li><a href="@SiteSettingsConstant.TelegramBotUrl"><i class="mdi mdi-telegram mdi-24px" aria-hidden="true"></i></a></li>
        }
    </ul>
</div>
 
