@using RecipyBotWeb.Constants;
<div>
    <br />
    @if (SiteSettingsConstant.IsSkypeBotConfigured)
    {
        <a href="@SiteSettingsConstant.SkypeBotUrl" target="_blank" class="getbot getbot-skype">
            <i class="mdi mdi-skype mdi-24px" aria-hidden="true"></i> Add to Skype
        </a>
    }
    @if (SiteSettingsConstant.IsFacebookBotConfigured)
    {
        <a href='@SiteSettingsConstant.FacebookBotUrl' target="_blank" class="getbot getbot-facebook">
            <i class="mdi mdi-facebook-messenger mdi-24px" aria-hidden="true"></i> Message Us
        </a>
    }
    @if (SiteSettingsConstant.IsSlackBotConfigured)
    {
    }
    @if (SiteSettingsConstant.IsTelegramBotConfigured)
    {
    }
</div>
