<!DOCTYPE html>
<html lang="en-us">
<head>
    @{ Html.RenderPartial("~/Views/Shared/_HeaderPartial.cshtml");  }
</head>
<body>
    <!-- wrapper -->
    <div id="wrapper">

        <!-- overlay during open menu -->
        <div class="overlay"></div>

        <!-- contents of the sidebar menu -->
        @{ Html.RenderPartial("~/Views/Shared/_MenuPartial.cshtml");  }

        <div id="page-content-wrapper">
            <div class="website-header">
                <div class="container text-left">
                    <h1><a href="/">The Recipy Bot</a></h1>
                </div>
            </div>
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="website-banner">
                <div class="website-logo text-center">
                    <img src="~/Images/recipybot.png" alt="" width="150" />
                </div>
                <div class="text-center" id="typed-strings">
                    <p>Hi! I'm Recipy Bot</p>
                    <p>I can help you with selecting recipes</p>
                    <p>So that you can cook something really exciting for your loved ones</p>
                </div>
                <div class="text-center website-typed-text"><span id="typed"></span></div>
                <div class="the-curve"></div>
            </div>
            <div class="body-content">
                @RenderBody()
            </div>
            <div>
                @{ Html.RenderPartial("~/Views/Shared/_FooterPartial.cshtml");  }
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
