/* VARIABLES */
@import '_colours';
@import '_animation';
@import '_fonts';


@mixin generic-button($bg-color, $fg-color) {
    @extend .transition-all;
    background-color: $bg-color;
    color: $fg-color;
    border: 1px solid $fg-color;
    padding: 9px 18px;
    border-radius: 30px;
    outline: none;
    text-decoration: none; 
    margin-right: 9px;   
}

@mixin generic-button-hover($bg-color, $fg-color) {
    background-color: $bg-color;
    border: 1px solid $fg-color;
    color: $fg-color;
    text-decoration: none;
}


.submit-button {
    @include generic-button($normal-accent, white);

    &:active, &:visited {    
    }   
     
    &:hover, &:focus {
        @include generic-button-hover(darken($normal-accent, 15%), white);
    }
}

.getbot {
    @include generic-button(white, $social-blue);

    &:active, &:visited {    
    } 

    &:hover, &:focus {
         @include generic-button-hover(white, darken($social-blue, 10%));
    }
       
    i {
        position: relative;
        top: 3px;
    }
}
