@import '_colours';
@import '_animation';

@mixin footer-link-hover {
    color: white;
    text-decoration: underline;
}

footer {
    background-color: $dark-gray;
    padding: 18px 0;
    margin-top: 45px;
    color: wheat;

    h3 {
        color: wheat;
    }

    ul {
        -webkit-padding-start: 0;

        li {
            display: inline-block;
            list-style: none;
            margin-right: 9px;

            a {
                &:active, &:visited {
                   color: wheat;
                }  

                &:hover, &:focus {
                    @include footer-link-hover;
                }              
            }
        }
    }

    a {
       
        &:active, &:visited {
            color: wheat;
        } 
        &:hover, &:focus {
             @include footer-link-hover;
        }
    }

    .col-sm-4.col-xs-12 {
        line-height: 29px;
    }
}
