/* VARIABLES */
@import '_colours';
@import '_buttons';
@import '_animation';
@import '_fonts';

/* COMPONENTS */
@import '_footer';
@import '_menu';
@import '_loader';
@import '_forms';
@import '_websiteheader';
@import '_mobile';


/* GENERAL PURPOSE CSS */

body {
    color: $dark-gray;
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3,
.h1, .h2, .h3 {
    color: $normal-accent;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.rb-row{
    padding: 28px 0;
}

.device-wrapper{
    margin-left: auto;
    margin-right: auto;
}