/* VARIABLES */
@import '_colours';
@import '_buttons';
@import '_animation';
@import '_fonts';

/* COMPONENTS */
@import '_footer';
@import '_menu';
@import '_loader';
@import '_forms';
@import '_websiteheader';


/* GENERAL PURPOSE CSS */
body {
    color: $dark-gray;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
}

h1, h2, h3, .h1, .h2, .h3 {
    color: $normal-accent;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.rb-row {
    padding: 28px 0;
}

/* HOME SCREEN MOBILE DEMOS */
.device-wrapper {
    margin-left: auto;
    margin-right: auto;

    &.special-device {
        max-width: 200px;
        display: inline-block;

        &.right-device {
            max-width: 180px;
            z-index: 9;
            position: relative;
            left: -29px;

            .mock-images {
                width: 153px;
            }
        }
        
        &.left-device {
            z-index: 10;
 
            .mock-images {
                width: 174px;
            }
        }
    }
}


/* GET BOTS */
ul.getbot-icons {
    padding-left: 0;
    margin-left: 0;

    li {
        display: inline-block;
        width: auto;
        
        a {
            padding: 0;
            padding-right: 9px;
        }
    }
}
