@media (max-width: 543px) {
    
    /* WEBSITE HEADER */
    
    .website-header h1, .website-header h1 a, .website-header h1 a:active, .website-header h1 a:visited{
    }

    .website-banner .website-logo img{
        width: 90px;
        padding-top: 32px;
    }

    .website-banner .website-typed-text{
        font-size: 5vh;
    }

    /**/
    .mock-images{
        width: 250px;
    }

    .mock-gifs{
        width: 310px;
    }
}