@{
    ViewBag.Title = "About | ";
}
<br />
<div class="container">
    <div class="row rb-row">
        <div class="col-sm-12">
            <h2>About</h2>
            <p>
                The Recipy Bot makes it easier for you to decide what to cook today. 
                The Recipy Bot can suggest recipes for a dish you ask about or if you just send the bot the ingredients you have on you. 
                You can also ask the bot for the special's of the day and try cooking something (possibly) new for your loved ones. 
            </p>
        </div>
    </div>
    <div class="row rb-row">
        <div class="col-sm-12">
            <h2>Get it now!</h2>
            <p>
                @{ Html.RenderPartial("~/Views/Shared/_GetBotsPartial.cshtml");  }
            </p>
        </div>
    </div>
</div>
