@{
    ViewBag.Title = "";
}
<br />
<div class="container rb-row">
    <div class="row">
        <div class="col-sm-7 text-center">
            <img src="~/Images/mocks-pro.png" width="400" />
        </div>
        <div class="col-sm-5">
            <h2>The Recipy Bot <br />is now available <br /> on these platforms</h2>
            <p>Lorem ipsum Lorem ipsum Lorem ipsum vLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
            <p>
                <a href="https://join.skype.com/bot/0cfd80bf-3358-44d8-b4ce-61bc16f4607d"><img alt="Add Bot to Skype" width="108" src="https://secure.skypeassets.com/content/dam/scom/images/add-bot-button/add-to-skype-buttons02-52px.png" /></a>
                <a href='https://www.messenger.com/t/114031652599634'><img src='https://facebook.botframework.com/Content/MessageUs.png'></a>
            </p>
        </div>
    </div>
</div>