@{
    ViewBag.Title = "Your Virtual Friend Who Suggests You The Best Recipes | ";
}

@using RecipyBotWeb.Constants;

<div>
@{ Html.RenderPartial("~/Views/Shared/_LoadingPartial.cshtml");  }
</div>

<br />
<div class="container rb-row">
    <div class="row rb-row">
        <div class="col-sm-7 text-center">
            <div class="device-wrapper special-device left-device">
                <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="red">
                    <div class="screen">
                        <img src="~/Images/assets/recipeoftheday-screen.gif" class="mock-images" />
                    </div>
                    <div class="button">
                    </div>
                </div>
            </div>
            <div class="device-wrapper special-device right-device">
                <div class="device" data-device="iPhone5" data-orientation="portrait" data-color="black">
                    <div class="screen">
                        <img src="~/Images/assets/showrecipe-screen.gif" class="mock-images" />
                    </div>
                    <div class="button">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h2>The Recipy Bot <br />is now available <br /> on these platforms</h2>
            <p>Just click on anyone of the link below 👇 🙏 and add The Recipy Bot to your contacts 📱.</p>
            <p>
               @{ Html.RenderPartial("~/Views/Shared/_GetBotsPartial.cshtml");  }     
            </p>
        </div>
    </div>
    <div class="row rb-row">
        <div class="col-md-8">
            <h2>Try a demo online!</h2>
            <p>
            Whether its asking about the specials of the day 🍜 or the top 5 ✋ recipes. 
            Or maybe you have some ingredients 🍗 🍓 🍙 on you and you're asking what you can cook with those or just want to send someone some random thoughts 🙇,   
            whatever the scenario is, you can use this interface to try the bot online without even having to leave your browser.
            </p>
            <p class="text-center">
                <img src="~/Images/assets/recipybot-features-gif.gif" width="400" class="mock-gifs"/>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="device-wrapper">
                <div class="device" data-device="iPhone7" data-orientation="portrait" data-color="red">
                    <div class="screen">
                        <iframe src='https://webchat.botframework.com/embed/RecipyBot?s=@ViewBag.WebChatSecret' style="width: 256px; background-color: white; height: 459px;" onload="iframeLoaded();"></iframe>
                    </div>
                    <div class="button">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

@*This stylesheet is loaded only for this page*@
<link href="~/Content/Vendor/device-mockups.min.css" rel="stylesheet" />

<script type="text/javascript">
    // This script block is only for the index page
    function iframeLoaded() {
        $('.wc-shellinput').blur();
        $("html, body").animate({ scrollTop: 0 }, "fast");
        $('.loading-overlay').slideUp("slow");
    }
</script>
