@{
    ViewBag.Title = "Privacy | ";
}

<div class="jumbotron">
    <h1>Recipy Bot</h1>
    <p class="lead">Finds you something delicious.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lorem ipsum heading</h2>
        <p>
           Lorem ipsum paragraph
            <a href="https://join.skype.com/bot/0cfd80bf-3358-44d8-b4ce-61bc16f4607d"><img alt="Add Bot to Skype" height="54" width="208" src="https://secure.skypeassets.com/content/dam/scom/images/add-bot-button/add-to-skype-buttons02-52px.png" /></a>
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
</div>