@{
    ViewBag.Title = "Privacy | ";
}
<br />
<div class="container rb-row">
    <div class="row">
        <div class="col-sm-12">
            <h2>Privacy</h2>
            <p>
                Let's keep this simple. The Recipy Bot doesn't collect any personal identifiable information from you. 
                During a conversation, if the bot asks your name, it doesn't actually store it anywhere.
            </p>
            <p>
                The information collected in the contact us form will strictly be used to communicate back to you.
            </p>
        </div>
    </div>
</div>