@{
    ViewBag.Title = "Terms | ";
}
<br />
<div class="container rb-row">
    <div class="row">
        <div class="col-sm-12">
            <h2>Terms</h2>
            <p>
                The Recipy Bot will try to be as responsive as it can and will try to get the best possible recipes 
                for you from its providers. The Recipy Bot depends on <a href="http://www.recipepuppy.com">RecipePuppy</a>, 
                <a href="https://www.flickr.com/services/api/explore/flickr.photos.search">Flickr</a> and <a href="https://www.reddit.com/r/GifRecipes.json">Reddit</a>. 
                If you do find anything irrelevant please do give us your feedback.
            </p>
            <p>
                So, in general, this service is provided on a "as-is" basis without any warranties of any kind. More information on the license can
                be found <a href="https://opensource.org/licenses/MIT">here</a>.
            </p>
        </div>
    </div>
</div>